
// Body
$body-bg: #f8fafc;

// Typography
$font-family-noto-sans: "Noto Sans", sans-serif;
$font-family-ubuntu: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;


// Colors
$black: #000000;
$rich-black: #00100B;
$white: #FFFFFF;
$mauve: #B37BA4;






$blue: #2E94B0;
$indigo: #6574cd;
$purple: #d9d9f3;
$aqua: #68EDC6;
$pink: #D25565;
$red: #E8222D;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #2d2d2d;